*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border-left: 1rem outset red;
    border-right: 1rem outset rgb(148, 69, 69);
    border-top: 1rem outset red;
    border-bottom: 1rem outset rgb(148, 69, 69);
    transition: .5s;
    border-radius:12px;
    height:500px;
}
#email-title{
    font-family: "Jersey 10", sans-serif;
    font-size:35px;
    letter-spacing:1.15px;
}

#form{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:0 1rem;
    bordeR:8px solid rgb(163, 163, 163);
    border-top:none;
    box-shadow:inset 0 0 7px .25px #333;
}

#wrapper:hover{
    border-bottom: 1rem outset red;
    border-top: 1rem outset rgb(148, 69, 69);
    border-right: 1rem outset red;
    border-left: 1rem outset rgb(148, 69, 69);
    transition: .5s;
}
#name-container{
    display:flex;
    flex-direction:column;
    width:550px;
    min-width:550px;
    height:60px;
    min-height:50px;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    border:3px solid gold;
    position:relative;
}
.name-scroll{
    height:inherit;
    width:inherit;
    display:flex;
    position:absolute;
}
body{
    background:silver;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    height:100vh;
}
.div-part{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:550px;
    min-width:550px;
    transition:.24s;
}
.arrow-opacity{
    opacity:0;
    transition:25s;
    pointer-events: none;
}
.arrow{
position:fixed;
z-index:999;
font-size:50px;
bordeR:2px solid transparent;
border-radius:50%;
transition:.5s;
}
/* .arrow-forward{
    right:20px;
}
.arrow-backward{
    left:20px;
} */
.hide-arrow{
    opacity:0;
    pointer-events:none;
    z-index: 997;
    transition: .5s;
}
.arrow:hover{
cursor:pointer;
transform:scale(.85);
transition: .25s;
border:2px solid #333;
}





.div-part>.inp{
    width:100%;
    text-align:center;
    height:100%;
}


.not-visible{
    transform:scale(0);
    pointer-events: none;
    opacity:0;
    height:0;
    width:0;
}
.horiz{
    width:100%;
    border:4px dotted #333;
    margin:1rem 0;
}
/* #form>label,#form>.inp{

} */
.textarea-inground{
    width:100%;
    height:100%;
    border:3px solid purple;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    flex-direction: column;
    box-shadow: inset 0 0 1.5rem .5px #333;
    position:relative;
}

.textarea-blur{
    transform:scale(.88);
    transition:.33s;
    position:absolute;
    box-shadow: 0 0 1rem .5px #333;
    animation:springUp .5s forwards .15s ;
}

@keyframes springUp {
    from{
        top:0;
    }
    to{
        top:-75%;
    }
}
.send-disable{
    pointer-events:none;
    background:rgb(127, 127, 127);
    transition:.33s;
}
textarea{
    transition:.66s;
    border:none;
    background:#dcdcdc;
    width:inherit;
    height:inherit;
    resize:none;
    padding:.5rem 1rem;
    transition:.5s;
}
textarea:hover{
    background:#dcd9d9;
    border:4px solid #dcd9d9;
    transition:.25s;

}
textarea:focus-within{
    background:ghostWhite;
    border:4px solid #dcdcdc;
    transition:.25s;
    outline:none;
}

.form-button-container{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    margin:1rem 0;
    gap:.5rem;
}

.btn-inp,
.btn-inp:nth-child(1)::-webkit-file-upload-button{
    padding:.5rem 1rem;
    border-radius:12px; 
    border:none;
    transition:.5s;
}
.btn-inp:nth-child(2):hover{
background:rgb(0, 255, 0);
transition:.25s;
cursor:pointer;
}
.btn-inp:nth-child(1):hover{
    background:rgb(0, 0, 255);
    transition:.25s;
    cursor:pointer;
    }