*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border-left: 1rem outset red;
    border-right: 1rem outset rgb(148, 69, 69);
    border-top: 1rem outset red;
    border-bottom: 1rem outset rgb(148, 69, 69);
    transition: .5s;
    border-radius:12px;
    height:50vh;
}
#form{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
#wrapper:hover{
    border-bottom: 1rem outset red;
    border-top: 1rem outset rgb(148, 69, 69);
    border-right: 1rem outset red;
    border-left: 1rem outset rgb(148, 69, 69);
    transition: .5s;
}
#name-container{
    display:flex;
    flex-direction:column;
    width:550px;
    min-width:550px;
    height:60px;
    min-height:50px;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    border:3px solid gold;
    position:relative;
}
.name-scroll{
    height:inherit;
    width:inherit;
    display:flex;
    position:absolute;
}
body{
    background:silver;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    height:100vh;
}
.div-part{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:550px;
    min-width:550px;
    transition:.24s;
}
.arrow-opacity{
    opacity:0;
    transition:25s;
    pointer-events: none;
}
.arrow{
position:fixed;
z-index:999;
font-size:50px;
bordeR:2px solid transparent;
border-radius:50%;
transition:.5s;
}
/* .arrow-forward{
    right:20px;
}
.arrow-backward{
    left:20px;
} */
.hide-arrow{
    opacity:0;
    pointer-events:none;
    z-index: 997;
    transition: .5s;
}
.arrow:hover{
cursor:pointer;
transform:scale(.85);
transition: .25s;
border:2px solid #333;
}





.div-part>.inp{
    width:100%;
    text-align:center;
    height:100%;
}


.not-visible{
    transform:scale(0);
    pointer-events: none;
    opacity:0;
    height:0;
    width:0;
}
.horiz{
    width:100%;
    border:4px dotted #333;
    margin:1rem 0;
}
/* #form>label,#form>.inp{

} */

