*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#form{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border-left: 1rem outset red;
    border-right: 1rem outset rgb(148, 69, 69);
    border-top: 1rem outset red;
    border-bottom: 1rem outset rgb(148, 69, 69);
    transition: .5s;
    padding:1rem;
    border-radius:12px;
}
#form:hover{
    border-bottom: 1rem outset red;
    border-top: 1rem outset rgb(148, 69, 69);
    border-right: 1rem outset red;
    border-left: 1rem outset rgb(148, 69, 69);
    transition: .5s;
}
body{
    background:silver;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    height:100vh;
}
/* #to,label:nth-child(1){
    opacity:0;
    transform:scale(0);
} */

.not-visible{
    transform:scale(0);
    pointer-events: none;
    opacity:0;
    height:0;
    width:0;
}

